<% provide :page_title, 'Posts'%>
<h3 class="font_3" style="line-height:1.1em; text-align: center; font-size:94px;">
  <span></span>
  <span style="letter-spacing: 0.05em;">Posts</span>
</h3>
<% @posts.each do |post|%>
  <h2><%= post.title %></h2>

  <time datatime="<%= post.created_at %>">
    <%= post.created_at %>
  </time>

  <p>
    <%= truncate strip_tags(post.body), lenght: 50, omission: '...(continued)'  %>
    <br>
    <%= link_to 'Show', post_path(post) %> |
    <%= link_to 'Edit', edit_post_path(post) %> |
    <%= button_to 'Destroy', post_path(post), method: :delete, class: 'btn btn-danger btn-sm' %>
  </p>
<% end %>

<%= paginate @posts %>
<%= page_entries_info @posts, entry_name: 'posts' %>

