<% provide :page_title, 'Show posts'%>

<h2><%=  %></h2>

<h1 class="mb-4"><%= @post.title %></h1>


<time datetime="<%= @post.formatted_created_at %>">
    <%= @post.formatted_created_at %>
</time>

<p class="lead my-3">
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning' %>
<%= button_to 'Destroy', post_path(@post), method: :delete, class: 'btn btn-danger' %>

<h2>Add a comment:</h2>
<%= form_with model: [ @post, @comment ] do |form| %>
  <p>
  </p>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<h2>All comments</h2>
<% @post.comments.each do |comment| %>
  <div class="alert alert-light">
    <p><strong><%= comment.commenter %></strong>: <%=comment.body%> </p>
  </div>


<% end %>